div {
    width: 100px;
    height: 100px;
    background-color: red;
}
ul li {
    list-style: none;
}
#showOptionLaptop,
#showOptionPhone,
#showOptionTV {
    display: none;
}
.nested {
    display: none;
}
.active {
    display: block;
}
