<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bai-tap-buoi-6/layout/style.css">
    <title>Layout</title>
</head>
<body>
    <div class="container">
        <div class="item-1">ITEM1</div>
        <div class="item-2">ITEM2</div>
        <div class="item-3">ITEM3</div>
        <div class="item-4">ITEM4</div>
        <div class="item-5">ITEM5</div>
        <div class="item-6">ITEM6</div>
        <div class="item-7">ITEM7</div>
        <div class="item-8">ITEM8</div>
        <div class="item-9">ITEM9</div>
        <div class="item-10">ITEM10</div>
        <div class="item-11">ITEM11</div>
        <div class="item-12">ITEM12</div>
        <div class="item-13">ITEM13</div>
        <div class="item-14">ITEM14</div>
        <div class="item-15">ITEM15</div>
        <div class="item-16">ITEM16</div>
        <div class="item-17">ITEM17</div>
        <div class="item-18">ITEM18</div>
        <div class="item-19">ITEM19</div>
        <div class="item-20">ITEM20</div>
        <div class="item-21">ITEM21</div>
        <div class="item-22">ITEM22</div>
        <div class="item-23">ITEM23</div>
        <div class="item-24">ITEM24</div>
        <div class="item-25">ITEM25</div>
        <div class="item-26">ITEM26</div>
        <div class="item-27">ITEM27</div>
        <div class="item-28">ITEM28</div>
        <div class="item-29">ITEM29</div>
        <div class="item-30">ITEM30</div>
        <div class="item-31">ITEM31</div>
        <div class="item-32">ITEM32</div>
        <div class="item-33">ITEM33</div>
        <div class="item-34">ITEM34</div>
        <div class="item-35">ITEM35</div>
        <div class="item-36">ITEM36</div>
        <div class="item-37">ITEM37</div>
        <div class="item-38">ITEM38</div>
        <div class="item-39">ITEM39</div>
        <div class="item-40">ITEM40</div>
        <div class="item-41">ITEM41</div>
        <div class="item-42">ITEM42</div>
        <div class="item-43">ITEM43</div>
        <div class="item-44">ITEM44</div>
        <div class="item-45">ITEM45</div>
        <div class="item-46">ITEM46</div>
        <div class="item-47">ITEM47</div>
        <div class="item-48">ITEM48</div>
        <div class="item-49">ITEM49</div>
        <div class="item-50">ITEM50</div>
    </div>
</body>
</html>
